# Homework 01 - Introduction

## Q1. Pandas version

What's the version of Pandas that you installed?

You can get the version information using the **version** field:

In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.__version__

'2.3.2'

In [3]:
url = "https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv"
df = pd.read_csv(url)
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

## Q2. Records count

How many records are in the dataset?

In [4]:
df.info()  # 9,704 entries

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9704 entries, 0 to 9703
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   engine_displacement  9704 non-null   int64
 1   num_cylinders        9222 non-null   float64
 2   horsepower           8996 non-null   float64
 3   vehicle_weight       9704 non-null   float64
 4   acceleration         8774 non-null   float64
 5   model_year           9704 non-null   int64
 6   origin               9704 non-null   object
 7   fuel_type            9704 non-null   object
 8   drivetrain           9704 non-null   object
 9   num_doors            9202 non-null   float64
 10  fuel_efficiency_mpg  9704 non-null   float64
dtypes: float64(6), int64(2), object(3)
memory usage: 834.1+ KB

## Q3. Fuel types

How many fuel types are presented in the dataset?

In [5]:
df.fuel_type.unique()

array(['Gasoline', 'Diesel'], dtype=object)

## Q4. Missing values

How many columns in the dataset have missing values?

In [6]:
(
    df.isna()
    .sum()
    .reset_index(name="missing")
    .query("missing > 0")
    .sort_values(by="missing", ascending=False)
    .reset_index(drop=True)
)

           index  missing
0   acceleration      930
1     horsepower      708
2      num_doors      502
3  num_cylinders      482

## Q5. Max fuel efficiency

What's the maximum fuel efficiency of cars from Asia?

In [7]:
(df.loc[df["origin"] == "Asia", "fuel_efficiency_mpg"].max().round(2))

np.float64(23.76)

# Q6. Median value of horsepower

1. Find the median value of horsepower column in the dataset.
2. Next, calculate the most frequent value of the same horsepower column.
3. Use fillna method to fill the missing values in horsepower column with the most frequent value from the previous step.
4. Now, calculate the median value of horsepower once again.

In [8]:
# Find the median value of horsepower column in the dataset.
print(f"Median value of horsepower is: {df.horsepower.median()}")

# Next, calculate the most frequent value of the same horsepower column.
print(
    f"The most frequent value in horsepower is {df['horsepower'].value_counts().index[0]}"
)

Median value of horsepower is: 149.0
The most frequent value in horsepower is 152.0

In [9]:
# Use fillna method to fill the missing values in horsepower column with the most frequent value from the previous step.
df["mod_hp"] = df["horsepower"].fillna(152)

# Now, calculate the median value of horsepower once again.
print(f"The new horsepower median is {df['mod_hp'].median()}")

The new horsepower median is 152.0

## Q7. Sum of weights

1. Select all the cars from Asia
2. Select only columns vehicle_weight and model_year
3. Select the first 7 values
4. Get the underlying NumPy array. Let's call it X.
5. Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
6. Invert XTX.
7. Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
8. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
9. What's the sum of all the elements of the result?

In [10]:
X = np.array(
    (
        df.query("origin == 'Asia'")[["vehicle_weight", "model_year"]]
        .head(7)
        .reset_index(drop=True)
    )
)

In [11]:
XTX = X.T.dot(X)

In [12]:
XTX_inverse = np.linalg.inv(XTX)

In [13]:
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

In [14]:
w = XTX_inverse.dot(X.T).dot(y)
w

array([0.01386421, 0.5049067 ])

In [15]:
w.sum().round(3)

np.float64(0.519)